# Dependencies
node_modules

# Build outputs
build
.svelte-kit

# Environment files
.env
.env.*

# Development files
.vscode
.DS_Store

# Git
.git
.gitignore

# Documentation
*.md

# Logs
npm-debug.log*
pnpm-debug.log*
logs
*.log
